*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after, *::before{content: ''}

html,button,input,select,textarea{color:#60472e}
body{line-height:1;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing:antialiased;-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;font-weight:normal;color:#60472e;background:#fcf8f1}
::-moz-selection{background:#12655f;text-shadow:none}
::selection{background:#12655f;text-shadow:none}
img{vertical-align:middle}
a{text-decoration:none}
a:hover,a:focus{color:#12655f}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}
ol, ul{list-style-type:none}

html{height:100%;font-size:62.5%}
body{height:100%;font-size:1.4rem;margin:0;padding:0;overflow-x:hidden;background-color:#fff}

@font-face {
  font-family:'fantazyor';
  src: url('../fonts/fantazyor/Fantazyor.ttf') format('truetype');
  src: url('../fonts/fantazyor/Fantazyor.eot');
  src: url('../fonts/fantazyor/Fantazyor.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/fantazyor/Fantazyor.woff') format('woff'), 
  url('../fonts/fantazyor/Fantazyor.ttf') format('truetype'), 
  url('../fonts/fantazyor/Fantazyor.svg') format('svg');
}

/* ///////////////////////////////////////////////////////
		COULEURS
///////////////////////////////////////////
*/
.blue{background:#247973}
.lightblue{background:#3C8C86}
.darkblue{background:#12655f}

.green{background:#3ba130}
.lightgreen{background:#90b837}

/* ///////////////////////////////////////////////////////
		STRUCTURE GLOBALE
///////////////////////////////////////////
*/
.main_navigation{position:fixed;padding:15px;top:0;left:0;width:100%;height:auto;overflow:hidden;margin:0;z-index:2;
	box-shadow:0 0 4px #444;background:#3ba130;color:#fff}

#map{width:calc(100% - 300px);margin:85px 0 0 300px;height:750px;background-color:#aaa;position:relative}

.sideResult{position:absolute;top:85px;left:0;z-index:1;width:300px;height:750px;font-size:1.15em;padding:8px;overflow-y:auto}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		HELPERS
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.fleft{float:left}
.fright{float:right}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		MAIN NAVIGATION LEFT
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.searchbar *{float:left;margin-right:15px}
.searchbar *:last-child{margin-right:0}

.title{font-size:2.4rem;color:#fff;line-height:4rem;margin:0;font-family:'Kaushan Script', cursive}
.myawesomebutton{padding:13px 5px;color:#fff}

.main_navigation input, .main_navigation select{height:40px;padding:5px;border:2px #ccc solid}
.main_navigation input{width:43%}
.main_navigation select{min-width:150px}

.box{position:absolute;width:350px;top:20%;left:50%;margin:0 0 0 -100px;padding:30px 10px;background:#3C8C86;z-index:9999;color:#fff;
	box-shadow:0 0 5px #555;text-align:center;font-size:1.4em
}
.close-box{height:15px;width:15px;position:absolute;right:10px;top:10px;cursor:pointer;transform:rotate(45deg);
	font-size:2.5rem}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		MAP GOOGLE
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.begin :any(p, img),.begin :-moz-any(p, img),.begin :-webkit-any(p, img){position:absolute;text-align:center;left:50%}
.begin > p{width:370px;margin-left:-185px;top:230px}
.begin >img{display:block;margin-left:-25px;top:270px}
.angular-google-map-container{height:750px;position:absolute;top:0;bottom:0;right:0;left:0} /* Hauteur total de la carte */
.angular-google-map{background:#ddd} /* pendant le chargement */

/* Gmap Windows Styles */
.marker{clear:both}
.marker h3{color:#fff;background:#3C8C86;padding:2px 10px}
.marker img{float:left;margin-right:10px}

/* http://stackoverflow.com/questions/1554893/google-maps-api-v3-infowindow-not-sizing-correctly */
.gm-style-iw{overflow:hidden;height:190px;width:250px}
.gm-style-iw > div{overflow:hidden;width:250px;height:190px}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		SIDE RESULT
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.sideResult .top-panel{margin:7px 0 15px 0}
.result{border-bottom:2px #12655f solid;padding:0;min-height:130px;position:relative;margin-bottom:5px;overflow:hidden}
.voirtout{color:#fff;margin:0}
.voirtout:hover,.voirtout:focus{color:#fff;background:#247973}
.sideResult a{display:block;height:130px;color:#fff;background:url(../img/map.jpg) no-repeat}
.sideResult p{position:absolute;bottom:0;z-index:1;padding:5px;margin:0;background-color:rgba(0,0,0,0.3)}
.sideResult .company{bottom:auto;background:#90b837;padding:5px;display:inline;line-height:23px;word-wrap:break-word;
	transition:all 250ms ease}
.sideResult .adresse{color:#333;background-color:rgba(255,255,255,0.7)}
.sideResult img{background-size:cover;min-width:100%;height:100%;position:absolute;top:0}
.sideResult a:hover > p.company{padding:5px 5px 5px 10px;background:#3ba130}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		NEWS
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.news{margin-top:50px}
article{position:relative;height:260px;margin-bottom:20px;overflow:hidden;background-color:rgba(59, 161, 48, 0.9)}
article img{position:relative;display:block;width:100%;height:auto;transition:all 600ms ease-out;opacity:0.5;
	transform:scale(1) translateY(-22%)}
article h3{
	background:transparent;border:1px #fff solid;color:#fff;font-family: 'Raleway';font-size:20px;font-weight:normal;
	height:auto;max-height:102px;left:16%;margin-top:-50px;overflow:hidden;padding:20px;position:absolute;text-align:center;
	text-transform:uppercase;text-shadow:1px 0 3px #555;top:50%;width:70%;transform:translateY(0px);
	transition:transform 700ms ease-in-out;transition:background 500ms ease;
}

.news article:hover h3{background-color:rgba(59,161,58,0.86)}
.news article:hover img{transform:scale(1.15) translateY(-17%);opacity:1}
.news article:hover .bubble{background-color:rgba(18,101,95,0)}

.bubble{position:absolute;bottom:0;left:0;color:#fff;background-color:rgba(18,101,95,0.7);
	transition:background-color 550ms ease 150ms;padding:10px;text-align:center}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		FOOTER
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/
footer{margin:20px 0 0 0;height:60px;padding:10px;background-color:#12655f;color:#fff}
footer p{text-align:center;padding:0;margin:0}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////
		MEDIA QUERIES
///////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}