<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Smooth à Paris</title>
        <meta name="description" content="Smoothie à Paris">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/main.css">
        <!--<link rel="stylesheet" href="css/built.css"> une fois Gruntise -->

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Kaushan+Script:400|Raleway:400,300">
    </head>

    <body ng-app="smoothieApp" role="document">

      <section ng-controller="MainController">
        <!--[if lt IE 9]>
            <p class="browsehappy">Vous utilisez un <strong>ancien</strong> navigateur. Veuillez <a href="http://browsehappy.com/">mettre à jour votre navigateur</a> pour améliorer votre expérience.</p>
        <![endif]-->

        <!-- Main navigation -->
        <div class="main_navigation" role="navigation">
          <div class="container">
            <div class="row">
              <div class="twelve columns searchbar" role="search">
                <a href="#"><h1 class="title">{{titre}}</h1></a>
                <img src="img/marker.png" alt="">
                <input type="text" id="open-button" class="yourSearch" autofocus ng-model="yourSearch" placeholder="Recherche">
                <select ng-model="orderProp">
                  <option ng-repeat="cats in categories" value="{{cats}}">{{cats}}</option>
                </select>
                <a custom-button>{{apropos}}</a>
              </div>
            </div>
          </div>
        </div> <!-- FIN .main_navigation -->

        <div ng-show="toggle" class="box">{{contactR}} {{numeroTel}} <div class="close-box" ng-click="toggle = !toggle">+</div></div>

        <!-- GOOGLE MAP centrale -->

        <div id="map" class="google-map" center="centerProperty" zoom="zoomProperty" markers="filteredMarkersProperty" latitude="clickedLatitudeProperty" longitude="clickedLongitudeProperty" mark-click="false" draggable="true" style="height: 750px; width: 90%;">
        </div>

          <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
             <ui-gmap-marker ng-repeat="m in map.markersr" events="m.events" coords="m" click="onClick()" idkey="'m.id'" icon="icon">
                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                  <div class="marker">
                    <h3>Boutique <strong>{{title}}</strong></h3>
                    <img src="http://lorempixel.com/160/90/city/" alt="">
                    <p>Jus de fruit et légume</p>
                    <p>Ambiance très classe</p>
                  </div>
                </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>-->

        </div>

        <!-- CONTEXT -->
        <div class="sideResult blue">
          <div class="top-panel">
            <button id="showHide" class="darkblue voirtout" ng-click="showAll($event)" >Voir tout</button> 
          </div>
          <div>

            <div class="result" ng-repeat="place in places | filter:orderProp" ng-init="liVisible" ng-hide="liVisible == false">
              <a href="#" ng-click="select(place)">
                <p class="company" ><strong>{{place.name}}</strong></p>
                <p class="adresse">{{place.category}}</p>
                <img src="{{place.picture}}" alt="">
              </a>
            </div>

          </div>
        </div> <!-- Fin .CONTEXT -->

        <!-- NEWS -->
        <div class="container news">
          <div class="row">
            <article class="six columns" role="article">
              <a href="#" class="trigger">
                <img src="img/articles/breakfast-morning-orange-juice.jpg" alt="">
                <h3>Les jus d'orange préssés : Point Qualité</h3>
                <div class="bubble">
                  <div class="bubble-date">21/10/2015</div>
                </div>
              </a>
            </article>
            <article class="six columns" role="article">
              <a href="#" class="trigger">
                <img src="img/articles/fruits-hot-raspberries.jpg" alt="">
                <h3>Les framboises de "Smoothie&Co" : une merveille !</h3>
                <div class="bubble">
                  <div class="bubble-date">15/10/2015</div>
                </div>
              </a>
            </article>
          </div>
          <div class="row">
            <article class="six columns" role="article">
              <a href="#" class="trigger">
                <img src="img/articles/appetizer.jpg" alt="">
                <h3>Les recettes de Biscotte</h3>
                <div class="bubble">
                  <div class="bubble-date">23/09/2015</div>
                </div>
              </a>
            </article>
            <article class="six columns" role="article">
              <a href="#" class="trigger">
                <img src="img/articles/fresh-healthy-orange-juice.jpg" alt="">
                <h3>Fresh and healthy orange juice</h3>
                <div class="bubble">
                  <div class="bubble-date">18/09/2015</div>
                </div>
              </a>
            </article>
          </div>
        </div> <!-- FIN .news -->

        <footer role="contentinfo">
          <div class="container"><p>{{rights}}</p></div>
        </footer>

      </section> <!-- Fin ng-controller MainController -->

      <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=fr"></script>
      <script src="ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <!--<script src="js/vendor/angular.min.js"></script>-->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>

      <!-- fichiers app.js et main.js passer a la moulinette Grunt :
      <script src="js/built.js"></script> -->
      <script src="js/vendor/google-maps.js"></script>
      <script src="js/app.js"></script>
      <!--<script src="js/main.js"></script>-->
      <script>
      </script>
    </body>
</html>